.bottom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 10vh;
}

.right {
  right: 15vw;
}

.left {
  left: 15vw;
}

.circle-btn {
  border-radius: 50%;
}

.squre-btn {
  border-radius: 25%;
}

.project-list-btn {
  background: radial-gradient(
    62.75% 62.75% at 21.57% 25.49%,
    #dafbff 0%,
    #70eeff 100%
  );
  box-shadow: 6px 6px 4px #b9d8dc;
}

.add-project-btn {
  background: radial-gradient(
    62.75% 62.75% at 21.57% 25.49%,
    #e1ffe1 0%,
    #70ec70 100%
  );
  box-shadow: 6px 6px 4px #bcdcb9;
}

.add-task-btn,
.success {
  background: radial-gradient(
    62.75% 62.75% at 21.57% 25.49%,
    #dafbff 0%,
    #70eeff 100%
  );
  box-shadow: 6px 6px 4px #b9d8dc;
}

.del-task-btn,
.warning {
  background: radial-gradient(
    62.75% 62.75% at 21.57% 25.49%,
    #ffe5da 0%,
    #ff70ce 100%
  );
  box-shadow: 6px 6px 4px #c5b9dc;
}

.update-task-btn {
  background: radial-gradient(
    62.75% 62.75% at 21.57% 25.49%,
    #f9f5a6 0%,
    #f9bf2d 100%
  );
  box-shadow: 6px 6px 4px #dcc6b9;
}

.cancel-edit-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.cancel-edit-btn:hover {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.completed-btn {
  position: relative;
  width: 90%;
  left: 2rem;
  text-align: center;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 2px 2px 4px 4px #c6e7ec;
  font-size: 18px;
  font-family: "Baloo 2";
  user-select: none;
}

.completed-btn.mark {
  background: radial-gradient(
    62.75% 62.75% at 21.57% 25.49%,
    #dafbff 0%,
    #70eeff 100%
  );
  box-shadow: 6px 6px 4px #b9d8dc;
}

.cancel-edit-btn,
.update-task-btn,
.del-task-btn,
.add-task-btn,
.project-list-btn,
.add-project-btn,
.completed-btn {
  cursor: pointer;
}

.cancel-edit-btn > img,
.update-task-btn > img,
.del-task-btn > img,
.add-task-btn > img,
.project-list-btn > img,
.add-project-btn > img {
  width: 3rem;
  height: 3rem;
}

div[data-color="Low"] > button {
  background: radial-gradient(86.68% 50% at 50% 50%, #e8ffd6 0%, #9eff9e 100%);
  box-shadow: 2px 2px 4px rgba(210, 189, 79, 0.25);
}

div[data-color="Medium"] > button {
  background: radial-gradient(113.98% 50% at 50% 50%, #fffae0 0%, #ffef9c 100%);
  box-shadow: 2px 2px 4px rgba(210, 189, 79, 0.25);
}

div[data-color="High"] > button {
  background: radial-gradient(167.32% 50% at 50% 50%, #ffddef 0%, #ffbcdf 100%);
  box-shadow: 2px 2px 4px rgba(197, 110, 154, 0.25);
}
