*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dp-none {
  display: none !important;
}

.form-items {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Open Sans";
  font-size: 22px;
}

.form-items .todo-input {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 22px;
  border: none;
  width: 80%;
}

.header {
  padding: 0.5rem 0;
  font-family: "Fredoka One";
  font-size: 38px;
  text-align: center;
}

.footer {
  width: 100vw;
  font-family: "Baloo 2";
  text-align: center;
  position: fixed;
  bottom: 0;
  background: radial-gradient(
    84.3% 94.79% at 50% 50%,
    #e0fbff 42.78%,
    #70eeff 100%
  );
  box-shadow: 6px 6px 4px #b9d8dc;
}

.title {
  font-weight: 500;
}

.description {
  font-weight: 300;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Open Sans";
  font-size: 22px;
}

.item-description textarea {
  height: 20vh;
  font-family: "Open Sans";
  font-size: 18px;
  resize: none;
  border: none;
}

.form-items .todo-input:hover,
.item-description textarea:hover {
  border: 1px solid #aaa;
}

.project-filter::before {
  content: "Project: ";
}

.project-list {
  font-family: "Baloo 2";
}

.project-list > .project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  width: 95%;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 20px;
  background: radial-gradient(
    94.4% 79.43% at 50% 50%,
    #e0fbff 53.44%,
    #70eeff 100%
  );
  box-shadow: 6px 6px 4px #b9d8dc;
  cursor: pointer;
}

.project-item > .delete-sign {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task-counter {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  display: flex;
  gap: 0.5rem;
  margin-right: 4rem;
}

.pop-up {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.pop-up > form {
  width: 30vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  gap: 0.5rem;
  flex-direction: column;
  border-radius: 20px;
  cursor: default;
}

@media only screen and (max-width: 730px) {
  .header {
    font-size: 28px;
  }

  .project-list > .project-item {
    position: relative;
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .project-item > .delete-sign {
    position: absolute;
    right: 10px;
  }

  .task-counter {
    font-size: 12px;
    display: flex;
    gap: 0.5rem;
    margin-right: 0;
  }

  .form-items {
    gap: 0.5rem;
    font-size: 16px;
  }

  .form-items .todo-input {
    font-size: 16px;
    width: 90%;
  }

  .item-description {
    gap: 0.5rem;
    font-size: 16px;
  }

  .item-description textarea {
    font-size: 14px;
  }

  .pop-up > form {
    width: 50vw;
  }

  .footer {
    box-shadow: none;
  }

  .footer > small {
    font-size: 12px;
  }
}
